.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* background-color: red; */
}

.container-title{
  display: flex;
  justify-content: center;
  margin: 0;
  border: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: fixed;
  padding: 0; /* Anula el padding del título de la tarjeta */
  width: 600px;
}

.card {
  width: 100%;
  padding: 0; /* Anula el padding predeterminado de PrimeReact */
}

.card-description {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

/* .aca {
  background-color: red;
  padding: 0px !important;
} */
