html {
  font-size: 23.4px; 
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  /* Otros estilos de los títulos */
}

p {
  font-family: "Lato", sans-serif;
}